:root {
  --brown: #ddcbb3;
  --green: #a4b696;
  --cloud: #fcf6f5;
  --mid: #343243;

  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
}
 
html {
  background-color: var(--brown);
  color: var(--dark);
}
   
body {
  text-align: justify;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.500000000000000000001;
  font-size: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 7.5rem;
  overflow-wrap: break-word;
}
   
header {
  position: fixed;
  margin: 0%;
  top: 0%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 6rem;
  background-color: var(--green);
  color: var(--cloud);
}
   
nav {
  white-space: nowrap;
  font-size: 1rem;
  position: fixed;
  margin-top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mid);
  width: 100%;
  border: 5px solid var(--brown);
  background-color: var(--brown);
}
   
nav >a {
  display: inline-block;
  position: relative;
  margin-left: 30px;
}
   
nav >a:visited {
  content:'';
  color: var(--mid);
}
   
nav >a:after {
  content:'!';
  position: absolute;
}

h1 {
  font-style: italic;
  background-color: var(--green);
  color: var(--mid);
  font-size: 2rem;
  margin-bottom: 0%;
  border-bottom: 5px solid var(--green);
}

h2 {
  font-size: 1.75rem;
}

footer {
  margin-top: 3rem;
  font-size: 0.75rem;
  text-align: center;
}